* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

h1 {
    font-size: 35px;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
    color: black;
    background-color: blue;
    border-radius: 5px;

}

.container {
    width: 450px;
    padding: 20px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.list-head {
    gap: 10px;
    display: grid;
    grid-template-columns: 4fr 1.1fr;

}

.to-do-list {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 16px;
    outline: none;
}

.add-list {
    border: none;
    border-radius: 5px;
    background-color: blue;
    outline: none;
    font-size: 16px;
    color: white;
    cursor: pointer;
    opacity: .6;
    pointer-events: none;
}

.add-list.active {
    opacity: 1;
    pointer-events: all;
}

.result {
    width: 100%;
    margin-top: 30px;
}

.item {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item p {
    font-size: 16px;
    color: black;
    font-weight: 400;
    letter-spacing: 1px;
}

.item.completed p {
    text-decoration: line-through;
    color: black;
}

.item-btn {
    display: flex;
    align-items: center;
    gap: 10px;
}

.item-btn i {
    color: rgb(8, 6, 133);
    font-size: 18px;
    cursor: pointer;
}
